.o-onlyoffice-models-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  .o-onlyoffice-model {
    .o-onlyoffice-model-button {
      padding: 5px 10px 5px 20px;
      width: 100%;
      text-align: start;
      padding-left: 20px;
      font-weight: bold;
      position: relative;
      border: none;
      background-color: inherit;

      svg {
        path {
          fill: var(--gray-900);
        }

        position: absolute;
        left: 10px;
        height: 100%;
        top: 0;
      }

      .o-onlyoffice-model-description {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: capitalize;
        color: var(--gray-900);
      }

      .o-onlyoffice-model-name {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--gray-500);
      }
    }
    
    .o-onlyoffice-model-button:hover {
      background-color: var(--gray-300);
    }

    .o-onlyoffice-model-button_open {
      svg {
        transform: rotate(90deg);
      }

      background-color: var(--gray-300);
    }
  }

  .o-onlyoffice-fields-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .o-onlyoffice-field {
    padding: 5px 10px;
    border: 1px var(--gray-300) solid;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;

    .o-onlyoffice-field-name {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--gray-500);
    }

    .o-onlyoffice-field-string {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--gray-900);
    }
  }

  .o-onlyoffice-field:hover {
    background-color: var(--gray-200);
  }

  .o-onlyoffice-field:active {
    background-color: var(--gray-200);
  }
}

.o-onlyoffice-fields-separator {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  flex-shrink: 0;
  border-color: var(--gray-300);
}