<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem 
        id="menu_consignments" 
        name="Consignments" 
    />
    
    <menuitem
        id="menu_reporting_products"
        name="Reporting"  
        parent="menu_consignments"
        sequence="25" 
    />
    <menuitem
        id="menu_reporting_product_list"
        name="Consignment Reports" 
        parent="menu_reporting_products"
        action="odoo_consignment_process.action_reporting_product_tree_view_consignment" 
        sequence="6" 
    />
    
    <menuitem 
        id="menu_consignment_purchase_orders"
        name="Consignment Orders" 
        parent="menu_consignments"
        sequence="1" 
    />
    
    <menuitem 
        id="menu_consignee_purchase_order"
        name="Purchase Orders"
        parent="menu_consignment_purchase_orders" 
        action="odoo_consignment_process.purchase_form_action_custom_consignment"
        sequence="2" 
    />
    <!--<menuitem 
        id="menu_consignment_customer_orders"
        name="Customer Orders"
        parent="menu_consignment_sales" 
        action="odoo_consignment_process.action_consignment_orders"  
        sequence="1" 
    />-->
    
    <menuitem 
        id="menu_consignment_sales"
        name="Consignment Sales"  
        parent="menu_consignments"
        sequence="1" 
    />
    
    <menuitem 
        id="menu_consignment_customer_orders"
        name="Customer Orders"
        groups="sales_team.group_sale_salesman"
        parent="menu_consignment_sales" 
        action="odoo_consignment_process.action_consignment_orders"  
        sequence="1" 
    />
         
    <menuitem 
        id="menu_consignment_products"
        name="Consignment Products"
        groups="sales_team.group_sale_salesman" 
        parent="menu_consignments"
        sequence="2" 
    />
    <menuitem 
        id="menu_sub_consignment_products" 
        name="Products"  
        parent="menu_consignment_products"
        action="product.product_template_action" 
        sequence="14" 
    />
    <menuitem 
        id="menu_sub_consignment_product_varinats" 
        name="Product Variants"  
        parent="menu_consignment_products" 
        action="product.product_normal_action_sell" 
        sequence="14" 
    />
    <menuitem 
        id="menu_sub_consignment_pricelist" 
        name="Pricelists"
        parent="menu_consignment_products"
        action="product.product_pricelist_action2" 
        sequence="14" 
    />
    
    <menuitem 
        id="menu_consignment_configuration"
        name="Configurations"  
        parent="menu_consignments"
        sequence="18" 
    />
    <menuitem 
        id="menu_sub_consign_customers" 
        name="Customers"
        groups="sales_team.group_sale_salesman" 
        parent="menu_consignment_configuration"
        action="base.action_partner_form"
        sequence="19" 
    />
    <menuitem 
        id="menu_sub_consign_vendors" 
        name="Consigners"
        parent="menu_consignment_configuration"
        action="action_partner_consigners_form" 
        sequence="20" 
    />
    
    <menuitem 
        id="menu_consignment_inventory"
        name="Inventories"
        groups="stock.group_stock_user"
        parent="menu_consignments"
        sequence="13" 
    />
    
    
    <record id="action_consignment_picking_tree_all" model="ir.actions.act_window">
            <field name="name">Consignment Inventories</field>
            <field name="res_model">stock.picking</field>
            <field name="type">ir.actions.act_window</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">tree,kanban,form,calendar</field>
            <field name="domain">[('is_consignment','=',True)]</field>
            <field name="search_view_id" ref="stock.view_picking_internal_search"/>
     </record>
        
    <menuitem 
        id="menu_sub_consignment_inventory"
        name="Consignment Inventories"  
        parent="menu_consignment_inventory"
        action="action_consignment_picking_tree_all" 
        sequence="13" 
    />
    
    <menuitem 
        id="menu_consignment_inventory_dashboard" 
        name="Inventory"  
        parent="menu_consignment_inventory"
        action="stock.stock_picking_type_action"
        sequence="13" 
     />        
</odoo>